body {
    background-color: grey;
}

header {
    background-color: beige;
    margin-bottom: 10px;
    text-align: center;
    padding: 15px;
    color: grey;
}

nav {
    background-color: beige;
    margin-bottom: 10px;
    text-align: center;
    padding: 15px;
    color: grey;

}

section {
    float: left;
    width: 55%;
    background-color:beige;
    margin-top: 10px;
    margin-bottom: 10px;
}

article {
    background-color: blue;
}

h1, h2, h3 {
    background-color: peachpuff;
}

p {
    background-color: purple;
}

aside {
    background-color: beige;
    float: right;
    width: 43%;
    margin-top: 10px;
    margin-bottom: 10px;
    color: grey;
    text-align: center;
    padding: 10px;
}

footer {
    clear: both;
    background-color: beige;
    margin-top: 10px;
    text-align: center;
    padding: 15px;
    color: grey;
}